@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  /* background-color: black; */
  /* background-color: theme("colors.darkPrimary"); */
  font-family: Poppins, sans-serif;
  color: white;
}

/* .input-gradient {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #1c1d1d;
  color: white;
  border-width: 2px;
  border-color: transparent;
  outline: none;
  border-radius: 0.375rem;
}

@media (min-width: 640px) {
  .input-gradient {
    border-radius: 0.5rem;
  }
}

@media (min-width: 1024px) {
  .input-gradient {
    border-radius: 0.75rem;
  }
}

.input-gradient:focus {
  border-image: linear-gradient(90deg, #f42d92, #53abff) 1;
  border-color: transparent;
} */

.input-primary {
  width: 100%;
  background-color: theme("colors.darkSecondary");
  color: white;
  border-width: 2px;
  border-color: transparent;
  outline: none;
}

.input-primary:focus {
  /* border-color: theme("colors.greenPrimary"); */
  border-color: theme("colors.yellowPrimary");
}
