@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: theme("colors.darkPrimary");
  font-family: Poppins, sans-serif;
  color: white;
}

.input-primary {
  width: 100%;
  background-color: theme("colors.darkSecondary");
  color: white;
  border-width: 2px;
  border-color: transparent;
  outline: none;
}

.input-primary:focus {
  border-color: theme("colors.yellowPrimary");
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
